<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>UBER-FITNESS</title>
</head>


<style media="screen">
	#add:hover{
		text-decoration: underline;
	}
</style>


<body>

	<div id="cal" class="cal">
		<p id="add" style="text-align: right; color: #D76417; font-size: 1.5em"><a  onclick="document.getElementById('id01').style.display='block'; document.getElementById('cal').style.display='none'" >ADD WORKOUT</a></p>
		<br/>
		<h2 class= "page-header" style="font-size: 50px; text-align: center; margin-top: 50px; margin-bottom: 50px; text-transform: uppercase; text-decoration: underline">Uber-Fitness Calendar</h2>
		<br/>
		<div *ngIf="calendarOptions">
			<ng-fullcalendar #ucCalendar [options]="calendarOptions"  (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
			(eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
		</div>
	</div>

	<div id="id01" class="id01">
    <div style="margin-left: 20em;  margin-top: 10px; max-width:600px; border: 4mm ridge black;" >
			<form (submit)= "onSubmit()">
				<h2 class= "page-header" style="font-size: 50px; text-align: center; margin-top: 50px; margin-bottom: 50px; text-transform: uppercase; text-decoration: underline">ADD WORKOUT</h2>
				<input id="name" style="font-size: 1.2em;  margin-bottom: 40px" class="form-control" type="text" [(ngModel)]="name" name="name" placeholder="Name of Workout">
				<input id="date" style="font-size: 1.2em;  margin-bottom: 40px" class="form-control" type="text" name="date" [(ngModel)]="date" placeholder="Enter Date (DD/MM/YYYY)" >
				<input id="sets" style="font-size: 1.2em;  margin-bottom: 40px" class="form-control" type="text" name="sets"[(ngModel)]="sets" placeholder="Enter # of Sets">
				<input id="reps" style="font-size: 1.2em;  margin-bottom: 40px" class="form-control" type="text" name="reps" [(ngModel)]="reps" placeholder="Enter # of Reps">
				<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
					<input style="font-size: 20px; margin-top: 20px" type="submit" class="btn btn-success w3-right"  value="SUBMIT">
					<input style="font-size: 20px; margin-top: 20px" type="button" class="btn btn-primary"  onclick="document.getElementById('id01').style.display='none'; document.getElementById('cal').style.display='block'" value="CANCEL">
	      </div>
			</form>
   </div>
  </div>
</body>
</html>
