<p></p>
<div *ngIf="user">
	<h2 class= "page-header" style="font-size: 50px; text-align: center; margin-top: 50px; margin-bottom: 50px; text-transform: uppercase; text-decoration: underline">WELCOME {{user.name}} </h2>
	<br/>
	<br/>
	<ul class=list-group>
		<li style="font-size: 20px ; margin-top: 3px; margin-bottom: 2px" class="list-group-item">Name: {{user.name}}</li>
        <li style="font-size: 20px ; margin-top: 3px; margin-bottom: 2px" class="list-group-item">Username: {{user.username}}</li>
        <li style="font-size: 20px ; margin-top: 3px; margin-bottom: 2px" class="list-group-item">Email: {{user.email}}</li>
    </ul>

</div>
