<html>
<style>

    h2,p, a{
        text-align: center;
    }
    h2{
        text-decoration: underline;
        font-size: 6em;
    }
</style>

<div class="container">
        <div class="jumbotron">
          <h2> UBER-FITNESS</h2>
		  <p></p>
		  <p>Welcome</p>
		  <p>
            <a class="btn btn-lg btn-success" href="/login">LOGIN</a>
          </p>
		  <div class="panel-body">
            <h5 class="text-center"><i class="ion-link"></i> Don't Have an account<a class="btn btn-sm" href="/register">CREATE AN ACCOUNT</a></h5>
          </div>
		  <p>UberFitness is powered by <strong>I&H WARE</strong>.<br/>To continue, please log in with your UberFitness account or create a new account.</p>

        </div>
 </div>
</html>
