<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="#" style="font-size: 40px;">Uber-Fitness</a>
		<div class= "navbar-header">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class= "icon-only"></span>
				<span class= "icon-only"></span>
				<span class= "icon-only"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbar">
				<ul class="navbar-nav mr-auto">
					<li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
						<a class="nav-link" [routerLink]="['/']">HOME<span></span></a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					   <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
						 <a class="nav-link" [routerLink]="['/dashboard']">DASHBOARD</a></li>
						<li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
						  <a class="nav-link" [routerLink]="['/profile']">PROFILE</a></li>
						<li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
						   <a class="nav-link" [routerLink]="['/login']">LOGIN</a></li>
						<li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
						   <a class="nav-link" [routerLink]="['/register']">CREATE ACCOUNT</a></li>
						<li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
							   <a class="nav-link" [routerLink]="['#']" (click)="onLogoutClick()" >LOGOUT</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
